@using EmmaWorkManagement.Entities.Enums

@model EmmaWorkManagementProject.Models.UserTaskViewModel[]

@{
    ViewData["Title"] = "Overdue";
}

<link rel="stylesheet" href="css/font-glyphicons.css">
<div class="wrapper" id="wrapper">
    <div class="container tasksToolbar my-2">
        <div class="row taskToolbar-top">
            <div class="col-sm-9 taskToolbar-left-container">
                <div class="row hamburger-container">
                    <div class="col tasksToolbar-headline">
                        <div class="taskToolbar p-1">
                            <p class="listTitle">@ViewData["Title"]</p>
                        </div>
                    </div>
                    <div class="col">
                        <div class="tasksToolbar-subline">
                            <span class="todayDate">
                                <span class="date">@((MonthEnum)DateTime.Now.Month). @DateTime.Now.Day.ToString(), @DateTime.Now.DayOfWeek.ToString()</span>
                            </span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-3 taskToolbar-right-container">
                <div class="taskToolbar-right">
                    <div class="row taskToolbar-actions">
                        <div class="col sortingAction">
                            <button class="btn btn-light" type="button" aria-haspopup="true" aria-expanded="false">
                                <a asp-action="GetTodayUserTasks" class="actionHome">
                                    <span class="sorting">
                                        <span>
                                            Home
                                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-house" viewBox="0 0 16 16">
                                                <path d="M8.707 1.5a1 1 0 0 0-1.414 0L.646 8.146a.5.5 0 0 0 .708.708L2 8.207V13.5A1.5 1.5 0 0 0 3.5 15h9a1.5 1.5 0 0 0 1.5-1.5V8.207l.646.647a.5.5 0 0 0 .708-.708L13 5.793V2.5a.5.5 0 0 0-.5-.5h-1a.5.5 0 0 0-.5.5v1.293L8.707 1.5ZM13 7.207V13.5a.5.5 0 0 1-.5.5h-9a.5.5 0 0 1-.5-.5V7.207l5-5 5 5Z" />
                                            </svg>
                                        </span>
                                    </span>
                                </a>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Page content wrapper-->
    <div class="container-fluid">
        <div class="container p-3">
            <div class="list_holder">
                <ul class="list_items">
                    @foreach (var userTask in Model)
                    {
                        <li class="task_list_item">
                            <div class="task_list_item__body row">
                                <div class="checkbox_input col-md-1">
                                    @if (userTask.Priority == "High")
                                    {
                                        <a asp-action="DeleteUserTask" asp-route-id="@userTask.Id">
                                            <input type="checkbox" id="todo" name="todo" value="todo" class="border-danger bg-danger">
                                        </a>
                                    }
                                    else if (userTask.Priority == "Medium")
                                    {
                                        <a asp-action="DeleteUserTask" asp-route-id="@userTask.Id">
                                            <input type="checkbox" id="todo" name="todo" value="todo" class="border-warning bg-warning">
                                        </a>
                                    }
                                    else
                                    {
                                        <a asp-action="DeleteUserTask" asp-route-id="@userTask.Id">
                                            >
                                            <input type="checkbox" id="todo" name="todo" value="todo" class="border-success bg-success">
                                        </a>
                                    }
                                </div>
                                <div class="label_container col-md-10">
                                    <div class="task_list_item__content row">
                                        <div class="task_list_item__content__wrapper col">
                                            <div class="wrapper_container row">
                                                <div class="task_name col">@userTask.Name</div>
                                                <div class="task_summary">@userTask.Summary</div>
                                            </div>
                                        </div>
                                        <div class="task_list_item__dateInfoContainer col">
                                            @if (userTask.Priority == "High")
                                            {
                                                <span class="text-danger">@userTask.Priority priority</span>
                                            }
                                            else if (userTask.Priority == "Medium")
                                            {
                                                <span class="text-warning">@userTask.Priority priority</span>
                                            }
                                            else
                                            {
                                                <span class="text-success">@userTask.Priority priority</span>
                                            }
                                            @if (userTask.DateOfCompletion < DateTime.Now && userTask.DateOfCompletion.Day != DateTime.Now.Day)
                                            {
                                                <span class="task_list_item__dateInfo text-danger">
                                                    <svg xmlns="http://www.w3.org/2000/svg" width="12" height="12" fill="currentColor" class="bi bi-calendar4" viewBox="0 0 16 16">
                                                        <path d="M3.5 0a.5.5 0 0 1 .5.5V1h8V.5a.5.5 0 0 1 1 0V1h1a2 2 0 0 1 2 2v11a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V3a2 2 0 0 1 2-2h1V.5a.5.5 0 0 1 .5-.5zM2 2a1 1 0 0 0-1 1v1h14V3a1 1 0 0 0-1-1H2zm13 3H1v9a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1V5z" />
                                                    </svg>
                                                    @((MonthEnum)userTask.DateOfCompletion.Month). @userTask.DateOfCompletion.Day, @userTask.DateOfCompletion.DayOfWeek
                                                </span>
                                            }
                                            else
                                            {
                                                <span class="task_list_item__dateInfo">
                                                    <svg xmlns="http://www.w3.org/2000/svg" width="12" height="12" fill="currentColor" class="bi bi-calendar4" viewBox="0 0 16 16">
                                                        <path d="M3.5 0a.5.5 0 0 1 .5.5V1h8V.5a.5.5 0 0 1 1 0V1h1a2 2 0 0 1 2 2v11a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V3a2 2 0 0 1 2-2h1V.5a.5.5 0 0 1 .5-.5zM2 2a1 1 0 0 0-1 1v1h14V3a1 1 0 0 0-1-1H2zm13 3H1v9a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1V5z" />
                                                    </svg>
                                                    @((MonthEnum)userTask.DateOfCompletion.Month). @userTask.DateOfCompletion.Day, @userTask.DateOfCompletion.DayOfWeek
                                                </span>
                                            }
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-1 deleteButton">
                                    <button type="button" class="deleteButton_button btn btn-outline-danger">
                                        <a asp-controller="UserTask" asp-action="DeleteUserTask" asp-route-id="@userTask.Id">
                                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-x-lg" viewBox="0 0 16 16">
                                                <path fill-rule="evenodd" d="M13.854 2.146a.5.5 0 0 1 0 .708l-11 11a.5.5 0 0 1-.708-.708l11-11a.5.5 0 0 1 .708 0Z" />
                                                <path fill-rule="evenodd" d="M2.146 2.146a.5.5 0 0 0 0 .708l11 11a.5.5 0 0 0 .708-.708l-11-11a.5.5 0 0 0-.708 0Z" />
                                            </svg>
                                        </a>
                                    </button>
                                </div>
                            </div>
                        </li>
                    }
                    <li class="controller_action">
                        <button class="btn btn-gradient-primary btn btn-block plus_add_button" data-toggle="modal" data-target="#perevod">
                            <a asp-controller="UserTask" asp-action="AddUserTask" class="add_button_action">
                                <span class="icon_add">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-plus" viewBox="0 0 20 20">
                                        <path d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4z" />
                                    </svg>
                                </span>
                                Add Task
                            </a>
                        </button>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
<!-- Bootstrap core JS-->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
<!-- Core theme JS-->
<script src="js/scripts.js"></script>

