@using EmmaWorkManagement.Entities.Enums

@model EmmaWorkManagementProject.Models.UserTaskViewModel[]

@{
    ViewData["Title"] = "By Name";
}
<link rel="stylesheet" href="css/font-glyphicons.css">
<div class="wrapper" id="wrapper">
    <div class="container tasksToolbar my-2">
        <div class="row taskToolbar-top">
            <div class="col-sm-9">
                <div class="row hamburger-container">
                    <div class="col tasksToolbar-headline">
                        <div class="taskToolbar p-1">
                            <p class="listTitle">By Name</p>
                        </div>
                    </div>
                    <div class="col">
                        <div class="tasksToolbar-subline">
                            <span class="todayDate">
                                <span class="date">@((MonthEnum)DateTime.Now.Month). @DateTime.Now.Day.ToString(), @DateTime.Now.DayOfWeek.ToString()</span>
                            </span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-3">
                <div class="taskToolbar-right">
                    <div class="row taskToolbar-actions">
                        <div class="col sortingAction">
                            <button class="btn btn-light dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <span class="sorting">
                                    <span>
                                        Sorting
                                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-down" viewBox="0 0 16 16">
                                            <path fill-rule="evenodd" d="M8 1a.5.5 0 0 1 .5.5v11.793l3.146-3.147a.5.5 0 0 1 .708.708l-4 4a.5.5 0 0 1-.708 0l-4-4a.5.5 0 0 1 .708-.708L7.5 13.293V1.5A.5.5 0 0 1 8 1z" />
                                        </svg>
                                    </span>
                                </span>
                            </button>
                            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                <a class="dropdown-item" href="#">Action</a>
                                <a class="dropdown-item" href="#">Another action</a>
                                <a class="dropdown-item" href="#">Something else here</a>
                            </div>
                        </div>
                        <div class="col settingsAction">
                            <span class="settings">
                                <span>
                                    Settings
                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-gear" viewBox="0 0 16 16">
                                        <path d="M8 4.754a3.246 3.246 0 1 0 0 6.492 3.246 3.246 0 0 0 0-6.492zM5.754 8a2.246 2.246 0 1 1 4.492 0 2.246 2.246 0 0 1-4.492 0z" />
                                        <path d="M9.796 1.343c-.527-1.79-3.065-1.79-3.592 0l-.094.319a.873.873 0 0 1-1.255.52l-.292-.16c-1.64-.892-3.433.902-2.54 2.541l.159.292a.873.873 0 0 1-.52 1.255l-.319.094c-1.79.527-1.79 3.065 0 3.592l.319.094a.873.873 0 0 1 .52 1.255l-.16.292c-.892 1.64.901 3.434 2.541 2.54l.292-.159a.873.873 0 0 1 1.255.52l.094.319c.527 1.79 3.065 1.79 3.592 0l.094-.319a.873.873 0 0 1 1.255-.52l.292.16c1.64.893 3.434-.902 2.54-2.541l-.159-.292a.873.873 0 0 1 .52-1.255l.319-.094c1.79-.527 1.79-3.065 0-3.592l-.319-.094a.873.873 0 0 1-.52-1.255l.16-.292c.893-1.64-.902-3.433-2.541-2.54l-.292.159a.873.873 0 0 1-1.255-.52l-.094-.319zm-2.633.283c.246-.835 1.428-.835 1.674 0l.094.319a1.873 1.873 0 0 0 2.693 1.115l.291-.16c.764-.415 1.6.42 1.184 1.185l-.159.292a1.873 1.873 0 0 0 1.116 2.692l.318.094c.835.246.835 1.428 0 1.674l-.319.094a1.873 1.873 0 0 0-1.115 2.693l.16.291c.415.764-.42 1.6-1.185 1.184l-.291-.159a1.873 1.873 0 0 0-2.693 1.116l-.094.318c-.246.835-1.428.835-1.674 0l-.094-.319a1.873 1.873 0 0 0-2.692-1.115l-.292.16c-.764.415-1.6-.42-1.184-1.185l.159-.291A1.873 1.873 0 0 0 1.945 8.93l-.319-.094c-.835-.246-.835-1.428 0-1.674l.319-.094A1.873 1.873 0 0 0 3.06 4.377l-.16-.292c-.415-.764.42-1.6 1.185-1.184l.292.159a1.873 1.873 0 0 0 2.692-1.115l.094-.319z" />
                                    </svg>
                                </span>
                            </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Page content wrapper-->
    <div class="container-fluid">
        <div class="container p-3">
            <div class="list_holder">
                <ul class="list_items">
                    @foreach (var userTask in Model)
                    {
                        <li class="task_list_item">
                            <div class="task_list_item__body row">
                                <div class="checkbox_input col-md-1">
                                    @if (userTask.Priority == "High")
                                    {
                                        <input type="checkbox" id="todo" name="todo" value="todo" class="border-danger bg-danger">
                                    }
                                    else if (userTask.Priority == "Medium")
                                    {
                                        <input type="checkbox" id="todo" name="todo" value="todo" class="border-warning bg-warning">
                                    }
                                    else
                                    {
                                        <input type="checkbox" id="todo" name="todo" value="todo" class="border-success bg-success">
                                    }
                                </div>
                                <div class="label_container col-md-10">
                                    <div class="task_list_item__content row">
                                        <div class="task_list_item__content__wrapper col">
                                            <div class="wrapper_container row">
                                                <div class="task_name col">@userTask.Name</div>
                                                <div class="task_summary">@userTask.Summary</div>
                                            </div>
                                        </div>
                                        <div class="task_list_item__dateInfoContainer col">
                                            <span class="task_list_item__dateInfo">@userTask.DateOfCompletion.DayOfWeek, @userTask.DateOfCompletion.Day</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-1 deleteButton">
                                    <button type="button" class="deleteButton_button btn btn-outline-danger">
                                        <a asp-controller="UserTask" asp-action="DeleteUserTask" asp-route-id="@userTask.Id">
                                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-x-lg" viewBox="0 0 16 16">
                                                <path fill-rule="evenodd" d="M13.854 2.146a.5.5 0 0 1 0 .708l-11 11a.5.5 0 0 1-.708-.708l11-11a.5.5 0 0 1 .708 0Z" />
                                                <path fill-rule="evenodd" d="M2.146 2.146a.5.5 0 0 0 0 .708l11 11a.5.5 0 0 0 .708-.708l-11-11a.5.5 0 0 0-.708 0Z" />
                                            </svg>
                                        </a>
                                    </button>
                                </div>
                            </div>
                        </li>
                    }
                    <li class="controller_action">
                        <button class="btn btn-gradient-primary btn btn-block plus_add_button" data-toggle="modal" data-target="#perevod">
                            <a asp-controller="UserTask" asp-action="AddUserTask" class="add_button_action">
                                <span class="icon_add">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-plus" viewBox="0 0 20 20">
                                        <path d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4z" />
                                    </svg>
                                </span>
                                Add Task
                            </a>
                        </button>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
<!-- Bootstrap core JS-->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
<!-- Core theme JS-->
<script src="js/scripts.js"></script>

