@using EmmaWorkManagement.Entities.Enums
@model UserTaskViewModel

@{
    Layout = "";
}

<link rel="stylesheet" href="~/css/modalUserTask.css" asp-append-version="true" />

<div class="main_container">
    <form role="form" method="post" class="form_container">
        <div class="container_content row">
            <div class="content_section container col-md-9">
                <div class="section_container">
                    <div class="task_overview">
                        <div class="task_list_item__body row">
                            <div class="checkbox_input col-md-1">
                                @if (Model.Priority == "High")
                                {
                                    <input type="checkbox" id="todo" name="todo" value="todo" class="border-danger bg-danger" onclick="checkboxScript({url: '/UserTask/CompleteUserTask', data: '@Model.Id'})">
                                }
                                else if (Model.Priority == "Medium")
                                {
                                    <input type="checkbox" id="todo" name="todo" value="todo" class="border-warning bg-warning" onclick="checkboxScript({url: '/UserTask/CompleteUserTask', data: '@Model.Id'})">
                                }
                                else
                                {
                                    <input type="checkbox" id="todo" name="todo" value="todo" class="border-success bg-success" onclick="checkboxScript({url: '/UserTask/CompleteUserTask', data: '@Model.Id'})">
                                }
                            </div>
                            <div class="label_container col-md-10">
                                <div class="task_list_item__content row">
                                    <div class="task_list_item__content__wrapper col">
                                        <div class="wrapper_container row">
                                            <div class="task_name col">@Model.Name</div>
                                            <div class="task_summary">@Model.Summary</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="action_subtask_add">
                        @Model.Subtasks.Select(q=>q.isActive == false).Count()/@Model.Subtasks.Count()
                        <hr class="container_line">
                        <div class="subtasks">
                            @foreach (var subtask in Model.Subtasks)
                            {
                                <div class="task_overview">
                                    <div class="task_list_item__body row">
                                        <div class="checkbox_input col-md-1">
                                            @if(subtask.isActive == true)
                                            {
                                                <input type="checkbox" id="checkbox_todo" name="todo" value="todo" class="subtask_checkbox" checked onclick="checkboxScript({url: '/Subtask/CompleteSubtask', data: '@subtask.Id'})">
                                            }
                                            else
                                            {
                                                <input type="checkbox" id="checkbox_todo" name="todo" value="todo" class="subtask_checkbox" onclick="checkboxScript({url: '/Subtask/CompleteSubtask', data: '@subtask.Id'})">
                                            }
                                        </div>
                                        <div class="label_container col-md-10">
                                            <div class="task_list_item__content row">
                                                <div class="task_list_item__content__wrapper col">
                                                    <div class="wrapper_container row">
                                                        <div class="task_name col">@subtask.Name</div>
                                                        <div class="task_summary">@subtask.Comment</div>
                                                    </div>
                                                    <div class="subtask_actions_container">
                                                        <div class="wrapper_info__content">
                                                            <button type="button" class="btn getInfoAction" onclick="openModal({url: '/Subtask/UpdateSubtask', data: '@subtask.Id'})" data-toggle="ajax-modal" data-target="Modal">
                                                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pen" viewBox="0 0 16 16">
                                                                    <path d="m13.498.795.149-.149a1.207 1.207 0 1 1 1.707 1.708l-.149.148a1.5 1.5 0 0 1-.059 2.059L4.854 14.854a.5.5 0 0 1-.233.131l-4 1a.5.5 0 0 1-.606-.606l1-4a.5.5 0 0 1 .131-.232l9.642-9.642a.5.5 0 0 0-.642.056L6.854 4.854a.5.5 0 1 1-.708-.708L9.44.854A1.5 1.5 0 0 1 11.5.796a1.5 1.5 0 0 1 1.998-.001zm-.644.766a.5.5 0 0 0-.707 0L1.95 11.756l-.764 3.057 3.057-.764L14.44 3.854a.5.5 0 0 0 0-.708l-1.585-1.585z" />
                                                                </svg>
                                                            </button>
                                                        </div>
                                                        <div class="wrapper_info__content">
                                                            <button type="button" class="btn getInfoAction" onclick="checkboxScript({url: '/Subtask/DeleteSubtask', data: '@subtask.Id'})" data-toggle="ajax-modal" data-target="Modal">
                                                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash3" viewBox="0 0 16 16">
                                                                    <path d="M6.5 1h3a.5.5 0 0 1 .5.5v1H6v-1a.5.5 0 0 1 .5-.5ZM11 2.5v-1A1.5 1.5 0 0 0 9.5 0h-3A1.5 1.5 0 0 0 5 1.5v1H2.506a.58.58 0 0 0-.01 0H1.5a.5.5 0 0 0 0 1h.538l.853 10.66A2 2 0 0 0 4.885 16h6.23a2 2 0 0 0 1.994-1.84l.853-10.66h.538a.5.5 0 0 0 0-1h-.995a.59.59 0 0 0-.01 0H11Zm1.958 1-.846 10.58a1 1 0 0 1-.997.92h-6.23a1 1 0 0 1-.997-.92L3.042 3.5h9.916Zm-7.487 1a.5.5 0 0 1 .528.47l.5 8.5a.5.5 0 0 1-.998.06L5 5.03a.5.5 0 0 1 .47-.53Zm5.058 0a.5.5 0 0 1 .47.53l-.5 8.5a.5.5 0 1 1-.998-.06l.5-8.5a.5.5 0 0 1 .528-.47ZM8 4.5a.5.5 0 0 1 .5.5v8.5a.5.5 0 0 1-1 0V5a.5.5 0 0 1 .5-.5Z" />
                                                                </svg>
                                                            </button>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            }
                        </div>
                        <div class="action_subtask_add__container">
                            <button type="button" class="btn btn-light add_button" onclick="openModal({url: '/Subtask/CreateSubtask', data: '@Model.Id'})" data-toggle="ajax-modal" data-target="Modal">
                                <div class="plus_icon">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-plus-lg" viewBox="0 0 16 16">
                                        <path fill-rule="evenodd" d="M8 2a.5.5 0 0 1 .5.5v5h5a.5.5 0 0 1 0 1h-5v5a.5.5 0 0 1-1 0v-5h-5a.5.5 0 0 1 0-1h5v-5A.5.5 0 0 1 8 2Z" />
                                    </svg>
                                </div>
                                <span class="action_add_text">Add subtask</span>
                            </button>
                        </div>
                    </div>
                    <div class="task_add_comment">
                        <textarea asp-for="Summary" class="form-control comment_form" type="text">@Model.Summary</textarea>
                    </div>
                </div>
            </div>
            <div class="content_sidebar col-md-3">
                <div class="sidebar_container">
                    <ul class="sidebar_container__content list-group">
                        <div class="sidebar_list__item">
                            <div class="item_text">Priority</div>
                            <div class="item_content">
                                @if(@Model.Priority == "High")
                                {
                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-flag-fill text-danger" viewBox="0 0 16 16">
                                        <path d="M14.778.085A.5.5 0 0 1 15 .5V8a.5.5 0 0 1-.314.464L14.5 8l.186.464-.003.001-.006.003-.023.009a12.435 12.435 0 0 1-.397.15c-.264.095-.631.223-1.047.35-.816.252-1.879.523-2.71.523-.847 0-1.548-.28-2.158-.525l-.028-.01C7.68 8.71 7.14 8.5 6.5 8.5c-.7 0-1.638.23-2.437.477A19.626 19.626 0 0 0 3 9.342V15.5a.5.5 0 0 1-1 0V.5a.5.5 0 0 1 1 0v.282c.226-.079.496-.17.79-.26C4.606.272 5.67 0 6.5 0c.84 0 1.524.277 2.121.519l.043.018C9.286.788 9.828 1 10.5 1c.7 0 1.638-.23 2.437-.477a19.587 19.587 0 0 0 1.349-.476l.019-.007.004-.002h.001" />
                                    </svg>
                                }
                                else if(@Model.Priority == "Medium")
                                {
                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-flag-fill text-warning" viewBox="0 0 16 16">
                                        <path d="M14.778.085A.5.5 0 0 1 15 .5V8a.5.5 0 0 1-.314.464L14.5 8l.186.464-.003.001-.006.003-.023.009a12.435 12.435 0 0 1-.397.15c-.264.095-.631.223-1.047.35-.816.252-1.879.523-2.71.523-.847 0-1.548-.28-2.158-.525l-.028-.01C7.68 8.71 7.14 8.5 6.5 8.5c-.7 0-1.638.23-2.437.477A19.626 19.626 0 0 0 3 9.342V15.5a.5.5 0 0 1-1 0V.5a.5.5 0 0 1 1 0v.282c.226-.079.496-.17.79-.26C4.606.272 5.67 0 6.5 0c.84 0 1.524.277 2.121.519l.043.018C9.286.788 9.828 1 10.5 1c.7 0 1.638-.23 2.437-.477a19.587 19.587 0 0 0 1.349-.476l.019-.007.004-.002h.001" />
                                    </svg>
                                }
                                else
                                {
                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-flag-fill text-success" viewBox="0 0 16 16">
                                        <path d="M14.778.085A.5.5 0 0 1 15 .5V8a.5.5 0 0 1-.314.464L14.5 8l.186.464-.003.001-.006.003-.023.009a12.435 12.435 0 0 1-.397.15c-.264.095-.631.223-1.047.35-.816.252-1.879.523-2.71.523-.847 0-1.548-.28-2.158-.525l-.028-.01C7.68 8.71 7.14 8.5 6.5 8.5c-.7 0-1.638.23-2.437.477A19.626 19.626 0 0 0 3 9.342V15.5a.5.5 0 0 1-1 0V.5a.5.5 0 0 1 1 0v.282c.226-.079.496-.17.79-.26C4.606.272 5.67 0 6.5 0c.84 0 1.524.277 2.121.519l.043.018C9.286.788 9.828 1 10.5 1c.7 0 1.638-.23 2.437-.477a19.587 19.587 0 0 0 1.349-.476l.019-.007.004-.002h.001" />
                                    </svg>
                                }
                                @Model.Priority
                            </div>
                        </div>
                        <div class="sidebar_list__item">
                            <div class="item_text">Due date</div>
                            <div class="item_content">
                                @if (Model.DateOfCompletion < DateTime.Now && Model.DateOfCompletion.Day != DateTime.Now.Day)
                                {
                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-alarm text-danger" viewBox="0 0 16 16">
                                        <path d="M8.5 5.5a.5.5 0 0 0-1 0v3.362l-1.429 2.38a.5.5 0 1 0 .858.515l1.5-2.5A.5.5 0 0 0 8.5 9V5.5z" />
                                        <path d="M6.5 0a.5.5 0 0 0 0 1H7v1.07a7.001 7.001 0 0 0-3.273 12.474l-.602.602a.5.5 0 0 0 .707.708l.746-.746A6.97 6.97 0 0 0 8 16a6.97 6.97 0 0 0 3.422-.892l.746.746a.5.5 0 0 0 .707-.708l-.601-.602A7.001 7.001 0 0 0 9 2.07V1h.5a.5.5 0 0 0 0-1h-3zm1.038 3.018a6.093 6.093 0 0 1 .924 0 6 6 0 1 1-.924 0zM0 3.5c0 .753.333 1.429.86 1.887A8.035 8.035 0 0 1 4.387 1.86 2.5 2.5 0 0 0 0 3.5zM13.5 1c-.753 0-1.429.333-1.887.86a8.035 8.035 0 0 1 3.527 3.527A2.5 2.5 0 0 0 13.5 1z" />
                                    </svg>
                                }
                                else
                                {
                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-alarm" viewBox="0 0 16 16">
                                        <path d="M8.5 5.5a.5.5 0 0 0-1 0v3.362l-1.429 2.38a.5.5 0 1 0 .858.515l1.5-2.5A.5.5 0 0 0 8.5 9V5.5z" />
                                        <path d="M6.5 0a.5.5 0 0 0 0 1H7v1.07a7.001 7.001 0 0 0-3.273 12.474l-.602.602a.5.5 0 0 0 .707.708l.746-.746A6.97 6.97 0 0 0 8 16a6.97 6.97 0 0 0 3.422-.892l.746.746a.5.5 0 0 0 .707-.708l-.601-.602A7.001 7.001 0 0 0 9 2.07V1h.5a.5.5 0 0 0 0-1h-3zm1.038 3.018a6.093 6.093 0 0 1 .924 0 6 6 0 1 1-.924 0zM0 3.5c0 .753.333 1.429.86 1.887A8.035 8.035 0 0 1 4.387 1.86 2.5 2.5 0 0 0 0 3.5zM13.5 1c-.753 0-1.429.333-1.887.86a8.035 8.035 0 0 1 3.527 3.527A2.5 2.5 0 0 0 13.5 1z" />
                                    </svg>
                                }
                                @((MonthEnum)Model.DateOfCompletion.Month). @Model.DateOfCompletion.Day, @Model.DateOfCompletion.DayOfWeek
                            </div>
                        </div>
                        <div class="sidebar_list__item">
                            <div class="item_text">Delete</div>
                            <div class="item_content">
                                <button type="button" class="btn btn-outline-danger">
                                    <a asp-action="DeleteUserTask" asp-controller="UserTask" asp-route-id="@Model.Id">
                                        Delete task
                                    </a>
                                </button>
                            </div>
                        </div>
                    </ul>
                </div>
            </div>
        </div>
    </form>
</div>