@model UserProfileViewModel

<link rel="stylesheet" href="~/css/AddStyle.css" asp-append-version="true" />

<section class="vh-100" style="background-color: #f4f5f7;">
    <div class="container py-5 h-100">
        <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col col-lg-6 mb-4 mb-lg-0">
                <div class="card mb-3" style="border-radius: .5rem;">
                    <div class="row g-0">
                        <div class="col-md-4 gradient-custom text-center text-white"
                             style="border-top-left-radius: .5rem; border-bottom-left-radius: .5rem;">
                            <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-chat/ava1-bg.webp"
                                 alt="Avatar" class="img-fluid my-5" style="width: 80px;" />
                            <h5>@Model.Name @Model.Surname</h5>
                            <p>@Model.About</p>
                            <i class="far fa-edit mb-5"></i>
                        </div>
                        <div class="col-md-8">
                            <div class="card-body p-4">
                                <h6>Information</h6>
                                <hr class="mt-0 mb-4">
                                <div class="row pt-1">
                                    <div class="col-6 mb-3">
                                        <h6>Email</h6>
                                        <p class="text-muted">@Model.Email</p>
                                    </div>
                                    <div class="col-6 mb-3">
                                        <h6>Registered</h6>
                                        <p class="text-muted">@Model.Registered</p>
                                    </div>
                                </div>
                                <h6>Account</h6>
                                <hr class="mt-0 mb-4">
                                <div class="row pt-1">
                                    <div class="col-6 mb-3">
                                        <h6>Change password</h6>
                                        <p class="text-muted"><a></a></p>
                                    </div>
                                    <div class="col-6 mb-3">
                                        <h6>Change email</h6>
                                        <p class="text-muted"></p>
                                    </div>
                                </div>
                                <div class="row pt-1">
                                    <div class="col-6 mb-3">
                                        <h6>Update info:</h6>
                                        <form role="form" method="post">
                                            <div class="form-group">
                                                <label>Your name</label>
                                                <input asp-for="Name" class="form-control" type="text" placeholder="Enter your name">
                                            </div>
                                            <div class="form-group">
                                                <label>Your surname</label>
                                                <input asp-for="Surname" class="form-control" type="text" placeholder="Enter your surname">
                                            </div>
                                            <div class="form-group">
                                                <label>About information</label>
                                                <textarea asp-for="About" class="form-control" type="text"></textarea>
                                            </div>
                                            <div class="form-group">
                                                <button type="submit" class="btn btn-success" data-original-title="" title="">Submit</button>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>