@model UserProfileViewModel

<link rel="stylesheet" href="~/css/AccountStyles.css" asp-append-version="true" />

<section style="height: 100%;">
    <div class="row g-0">
        <div class="col-md-3 gradient-custom text-center text-white sidebar">
            <header>
                <div class="container sidebarSettings">
                    <h1 class="header_sidebar__text">Settings</h1>
                </div>
            </header>
            <div class="sidebar_container">
                <ul class="sidebar_container__content list-group">
                    <a asp-controller="Account" asp-action="UpdatePassword" class="content_list__active list_item action_link">
                        <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="action_image bi bi-person-circle" viewBox="0 0 16 16">
                            <path d="M11 6a3 3 0 1 1-6 0 3 3 0 0 1 6 0z" />
                            <path fill-rule="evenodd" d="M0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8zm8-7a7 7 0 0 0-5.468 11.37C3.242 11.226 4.805 10 8 10s4.757 1.225 5.468 2.37A7 7 0 0 0 8 1z" />
                        </svg>
                        Account
                    </a>
                    <a asp-controller="Account" asp-action="UpdatePassword" class="content_list list_item">
                        <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="action_image bi bi-person-circle" viewBox="0 0 16 16">
                            <path d="M11 6a3 3 0 1 1-6 0 3 3 0 0 1 6 0z" />
                            <path fill-rule="evenodd" d="M0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8zm8-7a7 7 0 0 0-5.468 11.37C3.242 11.226 4.805 10 8 10s4.757 1.225 5.468 2.37A7 7 0 0 0 8 1z" />
                        </svg>
                        Account
                    </a>
                    <a asp-controller="Account" asp-action="UpdatePassword" class="content_list list_item">
                        <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="action_image bi bi-person-circle" viewBox="0 0 16 16">
                            <path d="M11 6a3 3 0 1 1-6 0 3 3 0 0 1 6 0z" />
                            <path fill-rule="evenodd" d="M0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8zm8-7a7 7 0 0 0-5.468 11.37C3.242 11.226 4.805 10 8 10s4.757 1.225 5.468 2.37A7 7 0 0 0 8 1z" />
                        </svg>
                        Account
                    </a>
                </ul>
            </div>
        </div>
        <div class="col-md-9 main_content">
            <form role="form" method="post">
                <header>
                    <div class="container sidebarAccount">
                        <div class="sidebarAccount_text">
                            <h1 class="header_sidebar__text">Account</h1>
                        </div>
                        <div class="sidebarAccount_button">
                            <a class="navbarAddAction text-light" asp-area="" asp-controller="UserTask" asp-action="GetTodayUserTasks">
                                <svg xmlns="http://www.w3.org/2000/svg" style="color: #333;" width="20" height="20" fill="currentColor" class="navbarAddActionImage bi bi-plus-lg" viewBox="0 0 16 16">
                                    <path d="M2.146 2.854a.5.5 0 1 1 .708-.708L8 7.293l5.146-5.147a.5.5 0 0 1 .708.708L8.707 8l5.147 5.146a.5.5 0 0 1-.708.708L8 8.707l-5.146 5.147a.5.5 0 0 1-.708-.708L7.293 8 2.146 2.854Z" />
                                </svg>
                            </a>
                        </div>
                    </div>
                </header>
                <div class="main_content_container">
                    <hr class="container_line">
                    <div class="content_name_info_container">
                        <h3 class="image_info_text">Registered</h3>
                        <div class="button_action">
                            @Model.Registered
                        </div>
                    </div>
                    <hr class="container_line">
                    <div class="content_image_info_container">
                        <h3 class="image_info_text">Photo</h3>
                        <div class="image_info_container">
                            <div class="image_photo_container">
                                <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-chat/ava1-bg.webp" alt="Avatar" style="width: 80px;" />
                            </div>
                            <div class="image_button_container">
                                <div class="upper"></div>
                                <div class="button_action">
                                    <button type="button" class="btn btn-light getInfoAction image_upload_button" onclick="openModal({url: '/UserProfile/UpdateProfileAvatar', data: '@Model.Id'})" data-toggle="ajax-modal" data-target="Modal">
                                        Upload photo
                                    </button>
                                </div>
                                <div class="button_laber_text">Pick your new photo up</div>
                            </div>
                        </div>
                    </div>
                    <div class="content_name_info_container">
                        <h3 class="image_info_text">Name</h3>
                        <div>@Model.Name @Model.Surname</div>
                        <div class="button_action">
                            <button class="btn btn-light image_upload_button">
                                <a class="upload_action" asp-area="" asp-controller="UserProfile" asp-action="UpdateAccountName">Change name</a>
                            </button>
                        </div>
                    </div>
                    <div class="content_name_info_container">
                        <h3 class="image_info_text">About</h3>
                        <textarea asp-for="About" class="form-control" type="text">@Model.About</textarea>
                        <button class="btn btn-light image_upload_button" type="submit">
                            <span class="upload_action">Change about</span>
                        </button>
                    </div>
                    <div class="content_name_info_container">
                        <h3 class="image_info_text">Email</h3>
                        <div>@Model.Email</div>
                        <div class="button_action">
                            <button class="btn btn-light image_upload_button">
                                <a class="upload_action" asp-area="" asp-controller="UserProfile" asp-action="UpdateAccountEmail">Change email</a>
                            </button>
                        </div>
                    </div>
                    <div class="content_name_info_container">
                        <h3 class="image_info_text">Password</h3>
                        <div class="button_action">
                            <button class="btn btn-light image_upload_button">
                                <a class="upload_action" asp-area="" asp-controller="Account" asp-action="UpdatePassword">Change password</a>
                            </button>
                        </div>
                    </div>
                    <hr class="container_line">
                    <div class="content_name_info_container">
                        <h3 class="image_info_text">Delete account</h3>
                        <div class="delete_account__text">This will immediately delete all of your data including tasks, projects, comments, and more. This can’t be undone.</div>
                        <div class="button_action">
                            <button class="btn btn-light image_upload_button">
                                <a class="upload_action text-danger" asp-area="" asp-controller="Account" asp-action="Delete">Delete account</a>
                            </button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</section>

@*<div class="card-body p-4">
    <h6>Information</h6>
    <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-chat/ava1-bg.webp"
         alt="Avatar" class="img-fluid my-5" style="width: 80px;" />
    <hr class="mt-0 mb-4">
    <div class="row pt-1">
        <div class="col-6 mb-3">
            <h6>Email</h6>
            <p class="text-muted">@Model.Email</p>
            <button type="button" class="deleteButton_button btn btn-outline-danger">
                <a asp-controller="Account" asp-action="UpdatePassword">
                    Change password
                </a>
            </button>
        </div>
        <div class="col-6 mb-3">
            <h6>Registered</h6>
            <p class="text-muted">@Model.Registered</p>
        </div>
    </div>
    <h6>Account</h6>
    <hr class="mt-0 mb-4">
    <div class="row pt-1">
        <div class="col-6 mb-3">
            <h6>Change password</h6>
            <p class="text-muted"><a></a></p>
        </div>
    </div>
    <div class="row pt-1">
        <div class="col-6 mb-3">
            <h6>Update info:</h6>
            <form role="form" method="post">
                <div class="form-group">
                    <label>Your name</label>
                    <input asp-for="Name" class="form-control" type="text" placeholder="Enter your name">
                </div>
                <div class="form-group">
                    <label>Your surname</label>
                    <input asp-for="Surname" class="form-control" type="text" placeholder="Enter your surname">
                </div>
                <div class="form-group">
                    <label>About information</label>
                    <textarea asp-for="About" class="form-control" type="text"></textarea>
                </div>
                <div class="form-group">
                    <button type="submit" class="btn btn-success" data-original-title="" title="">Submit</button>
                </div>
            </form>
        </div>
    </div>
</div>*@